<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>Phila MDT</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Phila Maison de Témoignages (MDT) est une église dynamique, un lieu où Dieu transforme des vies en temoignages vivants, de partage et de communion fraternelle à travers nos cultes, ministères, cellules de maison et événements." />
    <meta name="keywords" content="phila mdt, église, maison de témoignages, culte, foi, prière, cellules de maison, louange, enseignements, chrétien, communauté" />
    <meta name="author" content="Phila MDT" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.philamdt.church/" />
    <meta property="og:title" content="Phila Maison de Témoignages" />
    <meta property="og:description" content="Découvrez Phila Maison de Témoignages (MDT), notre agenda des cultes, ministères, événements et partagez la communion chrétienne." />
    <meta property="og:image" content="/mdt-banner.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.philamdt.church/" />
    <meta property="twitter:title" content="Phila Maison de Témoignages" />
    <meta property="twitter:description" content="Découvrez Phila Maison de Témoignages (MDT), notre agenda des cultes, ministères, événements et partagez la communion chrétienne." />
    <meta property="twitter:image" content="/mdt-banner.jpg" />

    <!-- Favicon -->
    <link rel="icon" type="image/jpeg" href="/logo.jpg" />

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body>
    @inertia()
  </body>

</html>
