# Node
TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=production

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=https://philamdt.church

# Session
SESSION_DRIVER=cookie

# Database (MySQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=mdt

# Cloudinary
CLOUDINARY_CLOUD_NAME=philamdt
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Brevo (Rendez-vous Pastoral)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=secretariat@philamdt.church
BREVO_SENDER_NAME="Phila MDT CHURCH"
PASTOR_EMAIL=pasteur@philamdt.church

# Brevo (Formulaire Contact & Newsletter)
CONTACT_BREVO_API_KEY=
CONTACT_SENDER_EMAIL=contact@philamdt.church
CONTACT_SENDER_NAME="Phila MDT CHURCH"
SECRETARIAT_EMAIL=contact@philamdt.church

# reCAPTCHA v2
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=