# Dependencies and AdonisJS build
node_modules
build
tmp/*
!tmp/.gitkeep

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Media files (consider using Git LFS for these)
*.mp4
*.mov
*.avi
*.wmv
*.flv
